<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Список поездок</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>

<h2>Список поездок</h2>

<a th:href="@{/}" class="btn">Главная</a>
<a th:href="@{/trips/add}" class="btn" sec:authorize="hasRole('ADMIN')">Добавить поездку</a>

<table border="1">
    <thead>
    <tr>
        <th>Название маршрута</th>
        <th>Проводник</th>
        <th>Категория (класс поезда)</th>
        <th>Цена</th>
        <th>Доступные места</th>
        <th>Станции</th>
        <th sec:authorize="hasRole('ADMIN')">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="trip, iterStat : ${trips}">
        <td th:text="${trip.title}"></td>
        <td th:text="${trip.conductor}"></td>
        <td th:text="${trip.category}"></td>
        <td th:text="${trip.price}"></td>
        <td th:text="${trip.seatsAvailable}"></td>
        <td>
            <span th:each="station, stStat : ${trip.stations}">
                <span th:text="${station.name}"></span><span th:if="${!stStat.last}">, </span>
            </span>
        </td>
        <td>
            <a th:href="@{|/trips/edit/${trip.id}|}" sec:authorize="hasRole('ADMIN')">Редактировать</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
