<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Билеты</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<h2>Билеты</h2>

<a th:href="@{/home}" class="btn">Главная</a>
<a th:href="@{/tickets/add}" class="btn" sec:authorize="hasRole('ADMIN')">Добавить билет</a>

<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Поездка</th>
        <th>Количество</th>
        <th>Дата покупки</th>
        <th>Статус</th>
        <th sec:authorize="hasRole('ADMIN')">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${tickets}">
        <td th:text="${ticket.user != null ? ticket.user.username : '–'}"></td>
        <td th:text="${ticket.trip != null ? ticket.trip.title : '–'}"></td>
        <td th:text="${ticket.quantity}"></td>
        <td th:text="${ticket.purchaseDateString}"></td>
        <td th:text="${ticket.status}"></td>
        <td sec:authorize="hasRole('ADMIN')"><a th:href="@{|/tickets/edit/${ticket.id}|}">Редактировать</a></td>
    </tr>

    </tbody>
</table>
</body>
</html>
